<div class="body-wrapper">
  <header class="bg-header"></header>

  <div class="content-wrapper">
    <div class="container-fluid">
      <div class="row">
        <header class="col-12 header">
          <div class="row header-content">
            <div class="header-left col-sm-6 col-12">
              <div class="logo">
                <img src="../assets/head-logo.png" alt="logo" class="logo-img">
              </div>
              <div class="brand">
                <span class="left">SOFT</span>
                <span class="right">GROUP</span>
              </div>
            </div>
            <div class="header-right col-sm-6 col-12">
              <div class="brand-description">
                <span>High perfomance software development</span>
              </div>
            </div>
          </div>
        </header>
      </div>

      <section class="row main-container-bg">

        <header class="col-12">
          <div class="section-header"></div>
        </header>

        <article class="col-12">
          <div class="item-heading">
            <h2>Larger Item Heading</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis quis lectus at arcu egestas
              fringilla fermentum eget ipsum. Vestibulum hendrerit dignissim nunc vel volutpat. Nulla facilisi.
            </p>
            <input type="button" value="DETAILS" class="details-btn">
          </div>
        </article>

        <hr>

        <article class="col-12">
          <div class="row">
            <div class="col-sm-6 item-one item">
              <img src="../assets/section-pic1.jpg" class="small-item" alt="small-item">
              <h2>Larger Item Heading</h2>
              <p>Lorem ipsum dolor sit amet, consec tetur adipiscing elit.</p>
              <input type="button" value="DETAILS" class="details-btn">
            </div>
            <div class="col-sm-6 item-two item">
              <img src="../assets/section-pic2.jpg" class="small-item" alt="small-item">
              <h2>Larger Item Heading</h2>
              <p>Lorem ipsum dolor sit amet, consec tetur adipiscing elit.</p>
              <input type="button" value="DETAILS" class="details-btn">
            </div>
          </div>
        </article>

        <hr>

        <article class="col-12">
          <div class="row add-photo-container">
            <div class="">
              <div class="add-photo"><span>ADD PHOTO</span></div>
            </div>
            <div class="">
              <div class="add-photo"><span>ADD PHOTO</span></div>
            </div>
            <div class="">
              <div class="add-photo"><span>ADD PHOTO</span></div>
            </div>
          </div>
        </article>

        <hr>

        <article class="col-12">
          <div class="row">
            <div class="col-12 blog-post">
              <h2>
                Blog Post Title One
              </h2>
              <p>
                orem ipsum dolor sit amet, consectetur adipiscing elit. Duis quis lectus at arcu egestas fringilla
                fermentum eget ipsum. Vestibulum hendrerit dignissim nunc vel volutpat. Nulla facilisi.
              </p>
              <input type="button" value="DETAILS" class="details-btn">
            </div>
          </div>

          <hr>

          <div class="row">
            <div class="col-12 blog-post">
              <h2>
                Blog Post Title Two
              </h2>
              <p>
                orem ipsum dolor sit amet, consectetur adipiscing elit. Duis quis lectus at arcu egestas fringilla
                fermentum eget ipsum. Vestibulum hendrerit dignissim nunc vel volutpat. Nulla facilisi.
              </p>
              <input type="button" value="DETAILS" class="details-btn">
            </div>
          </div>
        </article>

      </section>

      <div class="row">
        <div class="col-sm-12 social" id="social">
          <h2 class="social-header">STAY CONNECTED</h2>
          <div class="social-icons-wrapper">
            <div class="social-icons"><img src="../assets/social/twitter.png" alt=""></div>
            <div class="social-icons"><img src="../assets/social/facebook.png" alt=""></div>
            <div class="social-icons"><img src="../assets/social/rss.png" alt=""></div>
            <div class="social-icons"><img src="../assets/social/pinterest.png" alt=""></div>
            <div class="social-icons"><img src="../assets/social/google%20+.png" alt=""></div>
            <div class="social-icons"><img src="../assets/social/dribbble.png" alt=""></div>
            <div class="social-icons"><img src="../assets/social/linkedin.png" alt=""></div>
            <div class="social-icons"><img src="../assets/social/flickr.png" alt=""></div>
          </div>
        </div>
      </div>

      <div class="row">
        <footer class="col-12 footer">
          <div class="row footer-top-content">
            <div class="col-7 col-sm-8 footer-top-left">
              <span>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed commodo est id nulla luctus,
                quis posuere metus elementum. Phasellus elementum tortor nec massa pellentesque lobortis.
              </span>
            </div>
            <div class="col-5 col-sm-4 footer-top-right">
              <ul>
                <li><a href="#"><img src="../assets/bullet.png" alt="bullet" class="bullet"> Quick Link One</a></li>
                <li><a href="#"><img src="../assets/bullet.png" alt="bullet" class="bullet"> Quick Link Two</a></li>
                <li><a href="#"><img src="../assets/bullet.png" alt="bullet" class="bullet"> Quick Link Three</a></li>
                <li><a href="#"><img src="../assets/bullet.png" alt="bullet" class="bullet"> Quick Link Four</a></li>
              </ul>
            </div>
          </div>

          <hr>

          <div class="row footer-bot">
            <div class="copyright">
              <p>Copyright 2015 <span class="soft-group-white">SoftGroup</span>. All Rights Reserved.</p>
            </div>
            <div class="footer-bot-right">
              <p>View Online | Unsubscribe</p>
            </div>
          </div>
        </footer>
      </div>
    </div>
  </div>

  <footer class="bg-footer"></footer>

</div>
